<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button Biodiversity Dashboard</title>
    <!-- adding d3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Adding Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .jumbotron {
            background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/r3vThzKIxixyumkql/videoblocks-viruses-under-microscopehuman-immune-system-virus-moving-across-screen-bacteria-virus-or-germs-microorganism-cells-under-microscope-3d-render-microbe-seamless-loop_b_lnf8617_thumbnail-full01.png");
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center text-white">
                <h1>Belly Button Biodiversity Dashboard</h1>
                <p>Use the interactive charts below to explore the dataset</p>
            </div>
        </div>
        <div class="row">
            <div col-md-2>
                <div class="card">
                    <div class="card-body">
                        <h5>Select Sample:</h5>
                        <select id="selDataset" onchange="optionChanged(this.value)">
                        </select>
                    </div>
                </div>
                <br>
                <div class="card">
                        <div class="card-title" style="background:#337ab7; border-color: #337ab7">
                            <h5 class="text-white text-center">Sample MetaData</h5>
                        </div>
                        <div class="card-body" style="font-family: 'Courier New', Courier, monospace" id="sample-metadata"></div>
                </div>
            </div>
            <div class="col-md-5">
                <div id="pie"></div>
            </div>
            <div class="col-md-5">
                <div id="gauge"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="bubble"></div>
        </div>
    </div>
    <!-- Adding plot js -->
    <script src="{{ url_for('static', filename='app.js') }}"></script>

    <!-- Adding bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>

</html>